In [1]:
import pandas as pd

df = pd.read_csv(r'D:\\PythonWorkspace\\gitrepo\\data_by_rank_v2.csv', sep=',')
df.head(10)

,matchId,gameVersion,rank,player_1,player_2,player_3,player_4,player_5,bdht_1,win_1,player_6,player_7,player_8,player_9,player_10,bdht_2,win_2
0,KR_5266752731,11.12.379.4946,DIAMOND-I,"MonkeyKing, TOP, 1, 3, 3, 115","Kindred, JUNGLE, 12, 2, 10, 109","Galio, MIDDLE, 7, 2, 10, 118","MissFortune, BOTTOM, 7, 3, 8, 113","Alistar, UTILITY, 1, 1, 14, 24","0, 2, 0, 5",True,"Gwen, TOP, 3, 4, 2, 117","Nidalee, JUNGLE, 4, 7, 3, 85","Pantheon, MIDDLE, 3, 4, 4, 97","Kaisa, BOTTOM, 1, 6, 2, 73","Nautilus, UTILITY, 0, 7, 2, 24","0, 0, 1, 0",False
1,KR_5275521774,11.12.379.4946,DIAMOND-I,"Jax, TOP, 3, 6, 4, 145","Elise, JUNGLE, 12, 4, 11, 130","Ahri, MIDDLE, 8, 2, 6, 183","Draven, BOTTOM, 6, 3, 14, 157","Thresh, UTILITY, 2, 2, 20, 30","1, 0, 2, 9",True,"Sett, TOP, 2, 6, 4, 146","LeeSin, JUNGLE, 5, 7, 3, 96","Katarina, MIDDLE, 5, 3, 5, 169","Senna, UTILITY, 2, 7, 6, 20","MonkeyKing, BOTTOM, 2, 8, 3, 111","0, 2, 0, 2",False
2,KR_5275532435,11.12.379.4946,DIAMOND-I,"Jayce, TOP, 2, 7, 2, 132","Kayn, JUNGLE, 8, 6, 2, 84","Yone, MIDDLE, 1, 5, 2, 162","Varus, BOTTOM, 0, 6, 8, 102","Lulu, UTILITY, 1, 6, 4, 17","0, 0, 0, 1",False,"Pantheon, TOP, 3, 3, 8, 106","Rumble, JUNGLE, 7, 2, 7, 160","Zoe, MIDDLE, 11, 1, 7, 152","KogMaw, BOTTOM, 6, 3, 8, 145","Karma, UTILITY, 3, 3, 15, 21","0, 2, 2, 7",True
3,KR_5282894572,11.13.382.1241,DIAMOND-I,"Rumble, TOP, 8, 2, 3, 176","Viego, JUNGLE, 4, 1, 10, 117","Lucian, MIDDLE, 6, 1, 1, 211","Ezreal, BOTTOM, 4, 4, 7, 152","Karma, UTILITY, 1, 4, 10, 5","0, 1, 1, 6",True,"Nocturne, TOP, 2, 5, 2, 136","Hecarim, JUNGLE, 1, 6, 6, 120","Zilean, MIDDLE, 3, 5, 2, 122","Kalista, BOTTOM, 3, 4, 7, 177","Zyra, UTILITY, 3, 3, 5, 11","0, 1, 1, 2",False
4,KR_5282963488,11.13.382.1241,DIAMOND-I,"Jayce, TOP, 5, 9, 11, 130","Viego, JUNGLE, 9, 5, 6, 119","AurelionSol, MIDDLE, 6, 7, 5, 158","Kalista, BOTTOM, 3, 8, 7, 139","Nautilus, UTILITY, 2, 6, 12, 32","0, 2, 0, 1",False,"Lucian, TOP, 10, 7, 6, 205","Nidalee, JUNGLE, 5, 2, 15, 126","Aatrox, MIDDLE, 7, 3, 1, 194","Senna, UTILITY, 12, 6, 8, 47","Maokai, BOTTOM, 1, 7, 14, 83","1, 1, 1, 8",True
5,KR_5282964924,11.13.382.1241,DIAMOND-I,"Rumble, TOP, 9, 2, 9, 178","Karthus, JUNGLE, 9, 9, 6, 192","Yone, MIDDLE, 3, 5, 6, 160","Kalista, UTILITY, 4, 11, 4, 94","Pantheon, UTILITY, 0, 8, 8, 29","0, 0, 1, 2",False,"Sett, TOP, 2, 9, 3, 90","Diana, JUNGLE, 9, 5, 7, 142","Zoe, MIDDLE, 6, 4, 6, 181","KogMaw, BOTTOM, 15, 4, 8, 186","Lulu, UTILITY, 3, 3, 20, 27","1, 4, 1, 6",True
6,KR_5289447024,11.13.382.1241,DIAMOND-I,"Jax, TOP, 8, 5, 5, 166","Rumble, JUNGLE, 16, 4, 5, 146","Camille, MIDDLE, 4, 7, 2, 113","Senna, UTILITY, 4, 10, 11, 34","Sett, UTILITY, 1, 11, 8, 100","0, 0, 1, 3",False,"Gangplank, TOP, 1, 10, 11, 143","Elise, JUNGLE, 3, 4, 5, 122","Renekton, MIDDLE, 3, 9, 6, 169","Kalista, BOTTOM, 27, 3, 8, 245","Leona, UTILITY, 2, 7, 28, 30","1, 2, 1, 8",True
7,KR_5291224245,11.13.382.1241,DIAMOND-I,"Kled, TOP, 1, 2, 5, 90","Diana, JUNGLE, 2, 0, 5, 125","Talon, MIDDLE, 4, 1, 4, 92","Senna, UTILITY, 4, 0, 8, 15","LeeSin, BOTTOM, 5, 1, 4, 130","0, 2, 0, 3",True,"Gwen, TOP, 3, 1, 0, 126","Volibear, JUNGLE, 0, 4, 0, 70","Corki, MIDDLE, 0, 5, 1, 122","Samira, BOTTOM, 0, 4, 0, 87","Zilean, UTILITY, 1, 2, 0, 8","0, 0, 1, 0",False
8,KR_5291403254,11.13.382.1241,DIAMOND-I,"Ornn, TOP, 2, 9, 10, 170","XinZhao, JUNGLE, 7, 8, 7, 149","Viego, MIDDLE, 13, 8, 5, 153","Jinx, BOTTOM, 1, 11, 7, 179","Thresh, UTILITY, 0, 10, 8, 35","0, 0, 1, 2",False,"Kled, TOP, 5, 4, 12, 151","Elise, JUNGLE, 10, 4, 8, 151","Qiyana, MIDDLE, 6, 8, 10, 182","Kaisa, BOTTOM, 22, 3, 10, 247","Rakan, UTILITY, 3, 4, 35, 38","1, 4, 1, 10",True
9,KR_5291453093,11.13.382.1241,DIAMOND-I,"Kled, TOP, 11, 5, 10, 169","Elise, JUNGLE, 9, 4, 19, 128","Qiyana, MIDDLE, 20, 5, 9, 169","Kaisa, BOTTOM, 11, 8, 9, 162","Leona, UTILITY, 1, 5, 19, 32","0, 1, 2, 8",True,"Irelia, TOP, 5, 10, 3, 158","Nidalee, JUNGLE, 7, 10, 12, 106","Katarina, MIDDLE, 6, 9, 1, 110","Samira, BOTTOM, 8, 11, 10, 143","Alistar, UTILITY, 1, 12, 11, 21","0, 1, 0, 1",False