In [55]:
import pickle

with open(r'D:\PythonWorkspace\gitrepo\Lux_project\model\lrg_v1.pkl', 'rb') as f:
    lrg_clf = pickle.load(f)

lrg_clf

LogisticRegression(random_state=42)

In [56]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'D:\PythonWorkspace\gitrepo\Lux_project\data\player_data.csv')
df

,matchId,gameVersion,player_lane,player_1,player_2,player_3,player_4,player_5,bdht_1,win_1,player_6,player_7,player_8,player_9,player_10,bdht_2,win_2
0,KR_5138516254,11.8.370.4668,10,"Gangplank, TOP, 1, 6, 3, 138","LeeSin, JUNGLE, 3, 1, 11, 119","Annie, MIDDLE, 11, 2, 4, 95","Jinx, BOTTOM, 4, 1, 11, 175","Swain, UTILITY, 4, 2, 11, 8","0, 1, 2, 5",True,"Garen, TOP, 5, 3, 1, 146","Warwick, JUNGLE, 3, 6, 3, 97","TwistedFate, MIDDLE, 4, 6, 2, 149","Ezreal, BOTTOM, 0, 4, 2, 83","Lux, UTILITY, 0, 5, 3, 36","0, 1, 0, 1",False
1,KR_5143957063,11.8.370.4668,8,"Renekton, TOP, 2, 2, 7, 154","Viego, JUNGLE, 7, 2, 2, 134","Xerath, MIDDLE, 6, 0, 3, 168","Yone, BOTTOM, 8, 3, 6, 181","Senna, UTILITY, 1, 3, 17, 37","1, 3, 1, 5",True,"Heimerdinger, TOP, 2, 4, 3, 158","MonkeyKing, JUNGLE, 2, 4, 2, 77","Lux, MIDDLE, 1, 4, 1, 173","Kaisa, BOTTOM, 2, 6, 3, 170","Blitzcrank, UTILITY, 2, 6, 2, 32","0, 0, 1, 1",False
2,KR_5144040341,11.8.370.4668,7,"Volibear, TOP, 0, 3, 6, 111","Olaf, JUNGLE, 5, 3, 6, 179","Zed, MIDDLE, 18, 6, 5, 187","Ezreal, BOTTOM, 9, 0, 8, 231","Leona, UTILITY, 1, 3, 12, 27","0, 3, 1, 6",True,"Sylas, TOP, 6, 4, 4, 153","Urgot, JUNGLE, 7, 6, 6, 126","Galio, MIDDLE, 0, 10, 7, 74","Tristana, BOTTOM, 1, 7, 3, 145","Lulu, UTILITY, 1, 6, 5, 10","0, 0, 0, 1",False
3,KR_5144859204,11.8.370.4668,8,"Fiora, TOP, 6, 0, 1, 159","Nidalee, JUNGLE, 2, 0, 9, 132","Leblanc, MIDDLE, 3, 1, 2, 135","Caitlyn, BOTTOM, 10, 0, 3, 134","Morgana, UTILITY, 0, 2, 14, 24","0, 2, 0, 8",True,"Akali, TOP, 1, 3, 1, 104","Khazix, JUNGLE, 0, 5, 0, 79","Lux, MIDDLE, 1, 2, 0, 112","Kaisa, BOTTOM, 1, 4, 1, 133","Swain, UTILITY, 0, 7, 2, 9","0, 0, 0, 0",False
4,KR_5156960508,11.8.370.4668,8,"Volibear, TOP, 5, 3, 10, 179","Hecarim, JUNGLE, 2, 4, 14, 168","Azir, MIDDLE, 1, 4, 14, 163","Kaisa, BOTTOM, 19, 4, 6, 244","Nautilus, UTILITY, 5, 4, 23, 31","1, 2, 1, 9",True,"Mordekaiser, TOP, 3, 6, 2, 167","Poppy, JUNGLE, 7, 6, 4, 131","Lux, MIDDLE, 7, 5, 4, 192","Ezreal, BOTTOM, 2, 7, 3, 194","Karma, UTILITY, 0, 8, 3, 23","0, 2, 0, 2",False
5,KR_5176475024,11.9.372.2066,9,"Rumble, TOP, 1, 9, 7, 134","Nunu, JUNGLE, 3, 10, 16, 111","Katarina, MIDDLE, 16, 11, 2, 158","Ashe, BOTTOM, 11, 5, 9, 242","Nautilus, UTILITY, 2, 7, 16, 33","2, 3, 2, 6",False,"Sylas, TOP, 18, 4, 18, 206","Amumu, JUNGLE, 1, 8, 22, 110","Vayne, MIDDLE, 11, 10, 8, 210","Jhin, BOTTOM, 12, 7, 11, 149","Taric, UTILITY, 0, 4, 29, 44","0, 2, 0, 7",True
6,KR_5176633802,11.9.372.2066,8,"Yorick, TOP, 5, 0, 4, 150","LeeSin, JUNGLE, 4, 2, 3, 110","Leblanc, MIDDLE, 4, 0, 0, 104","Ezreal, BOTTOM, 7, 2, 2, 110","Senna, UTILITY, 1, 0, 8, 21","0, 1, 2, 5",True,"Aatrox, TOP, 0, 4, 0, 68","MasterYi, JUNGLE, 1, 1, 0, 114","Lux, MIDDLE, 2, 5, 1, 104","Caitlyn, BOTTOM, 1, 6, 2, 152","Yuumi, UTILITY, 0, 5, 3, 3","0, 1, 0, 0",False
7,KR_5180931801,11.9.372.2066,5,"Jayce, TOP, 6, 5, 1, 240","Sylas, MIDDLE, 3, 6, 7, 174","Kaisa, BOTTOM, 1, 6, 4, 205","Kindred, JUNGLE, 4, 9, 6, 156","Lux, UTILITY, 3, 1, 5, 41","0, 0, 0, 1",False,"Darius, TOP, 8, 8, 8, 218","Nidalee, JUNGLE, 4, 3, 10, 265","Rumble, MIDDLE, 9, 1, 7, 165","Caitlyn, BOTTOM, 6, 0, 6, 212","Pantheon, UTILITY, 0, 5, 7, 31","1, 5, 1, 10",True
8,KR_5204695898,11.10.374.9538,10,"Jax, TOP, 5, 7, 9, 223","Rumble, JUNGLE, 17, 6, 11, 209","Xerath, MIDDLE, 8, 9, 9, 141","Lucian, BOTTOM, 12, 6, 4, 219","Ashe, UTILITY, 0, 5, 15, 31","1, 3, 2, 9",True,"Sion, TOP, 8, 8, 12, 171","Trundle, JUNGLE, 8, 8, 8, 191","Zoe, MIDDLE, 3, 10, 6, 103","Vayne, BOTTOM, 7, 10, 4, 241","Lux, UTILITY, 7, 6, 9, 63","0, 2, 0, 3",False
9,KR_5204771853,11.10.374.9538,5,"Jax, TOP, 4, 6, 1, 268","Yone, JUNGLE, 1, 13, 5, 139","Yasuo, MIDDLE, 2, 11, 3, 214","MissFortune, BOTTOM, 0, 3, 3, 242","Lux, UTILITY, 4, 4, 2, 50","1, 0, 1, 4",False,"Darius, TOP, 2, 5, 10, 196","LeeSin, JUNGLE, 7, 4, 12, 148","Pantheon, MIDDLE, 14, 1, 11, 166","Ezreal, BOTTOM, 9, 0, 8, 237","Alistar, UTILITY, 4, 1, 14, 33","1, 5, 1, 9",True
10,KR_5205578318,11.10.374.9538,8,"LeeSin, TOP, 8, 5, 11, 213","Nidalee, JUNGLE, 8, 4, 11, 166","Qiyana, MIDDLE, 9, 6, 6, 195","Sivir, BOTTOM, 10, 4, 15, 218","Leona, UTILITY, 3, 3, 18, 39","1, 4, 1, 11",True,"Lucian, TOP, 12, 6, 2, 288","Viego, JUNGLE, 1, 7, 7, 188","Lux, MIDDLE, 6, 5, 4, 214","Caitlyn, BOTTOM, 2, 8, 5, 178","Thresh, UTILITY, 1, 12, 4, 31","0, 1, 1, 3",False
11,KR_5205834660,11.10.374.9538,4,"Garen, TOP, 2, 6, 7, 72","Poppy, JUNGLE, 3, 3, 5, 132","Katarina, MIDDLE, 11, 4, 5, 118","Jhin, BOTTOM, 13, 3, 14, 154","Thresh, UTILITY, 6, 7, 23, 51","0, 2, 0, 5",True,"Camille, TOP, 6, 5, 3, 123","LeeSin, JUNGLE, 6, 5, 6, 116","Yone, MIDDLE, 3, 8, 6, 120","Kaisa, BOTTOM, 3, 12, 7, 101","Pyke, UTILITY, 5, 5, 11, 43","0, 1, 2, 3",False
12,KR_5207910810,11.10.374.9538,10,"MonkeyKing, TOP, 8, 5, 3, 156","Shaco, JUNGLE, 2, 7, 9, 122","Talon, MIDDLE, 4, 14, 5, 94","Sivir, BOTTOM, 1, 5, 4, 201","Velkoz, UTILITY, 4, 10, 2, 40","0, 0, 0, 1",False,"Kayle, TOP, 11, 6, 3, 221","Morgana, JUNGLE, 2, 5, 15, 166","Viego, MIDDLE, 8, 5, 6, 176","Ezreal, BOTTOM, 11, 1, 7, 201","Lux, UTILITY, 9, 2, 8, 19","1, 4, 1, 8",True
13,KR_5210296626,11.10.376.4811,5,"Nidalee, TOP, 4, 10, 9, 231","Kindred, JUNGLE, 12, 15, 13, 182","Ezreal, MIDDLE, 6, 16, 12, 92","Varus, BOTTOM, 13, 9, 13, 236","Lux, UTILITY, 14, 3, 13, 117","0, 4, 1, 6",False,"Irelia, TOP, 13, 12, 3, 331","Poppy, JUNGLE, 11, 8, 5, 217","Talon, MIDDLE, 19, 8, 7, 217","Vayne, BOTTOM, 5, 6, 4, 239","Xerath, UTILITY, 4, 15, 11, 48","2, 2, 1, 11",True
14,KR_5371918686,11.15.389.2308,8,"Shen, TOP, 1, 3, 0, 82","Zac, JUNGLE, 2, 9, 2, 80","Fizz, MIDDLE, 2, 7, 4, 108","Lucian, BOTTOM, 2, 5, 0, 74","Bard, UTILITY, 0, 7, 4, 6","0, 1, 0, 0",False,"Garen, TOP, 7, 0, 2, 165","LeeSin, JUNGLE, 9, 5, 6, 123","Lux, MIDDLE, 6, 0, 4, 144","Sivir, BOTTOM, 0, 0, 9, 136","Xerath, UTILITY, 9, 2, 4, 34","0, 1, 2, 11",True
15,KR_5376691108,11.15.389.2308,3,"Malphite, TOP, 5, 8, 3, 113","Lillia, JUNGLE, 8, 14, 10, 111","Katarina, MIDDLE, 7, 7, 7, 118","Ezreal, BOTTOM, 7, 12, 11, 124","Lux, UTILITY, 4, 15, 11, 42","0, 0, 0, 0",False,"Riven, TOP, 5, 10, 9, 124","Viego, JUNGLE, 11, 5, 3, 218","Talon, MIDDLE, 12, 5, 9, 193","Ashe, BOTTOM, 22, 7, 12, 139","Taric, UTILITY, 6, 4, 28, 40","1, 4, 2, 9",True
16,KR_5406226813,11.16.390.1945,5,"Mordekaiser, TOP, 1, 6, 1, 101","Zac, JUNGLE, 2, 6, 1, 104","Jayce, MIDDLE, 2, 8, 1, 135","Caitlyn, BOTTOM, 8, 7, 0, 129","Lux, UTILITY, 0, 6, 3, 27","0, 0, 0, 2",False,"Aatrox, TOP, 5, 1, 3, 120","Sejuani, JUNGLE, 6, 1, 13, 115","Akshan, MIDDLE, 12, 0, 7, 173","Ashe, BOTTOM, 6, 6, 9, 134","Leona, UTILITY, 4, 5, 16, 35","0, 3, 2, 3",True
17,KR_5414889203,11.17.393.607,5,"MonkeyKing, TOP, 1, 4, 1, 91","Ashe, BOTTOM, 3, 8, 2, 89","Yone, MIDDLE, 0, 7, 1, 72","Leona, UTILITY, 2, 8, 3, 20","Urgot, JUNGLE, 2, 2, 0, 72","0, 0, 0, 0",False,"Teemo, TOP, 4, 2, 0, 101","Sivir, BOTTOM, 4, 1, 11, 115","Yasuo, MIDDLE, 10, 1, 1, 123","Nidalee, JUNGLE, 7, 1, 5, 98","Thresh, UTILITY, 4, 3, 9, 21","0, 2, 0, 2",True
18,KR_5414940661,11.17.393.607,3,"Darius, TOP, 11, 2, 3, 271","LeeSin, JUNGLE, 10, 1, 13, 178","Katarina, MIDDLE, 14, 11, 4, 101","Ezreal, BOTTOM, 10, 7, 13, 222","Morgana, UTILITY, 8, 3, 15, 18","1, 5, 2, 10",True,"Camille, TOP, 2, 10, 2, 169","Karthus, JUNGLE, 6, 11, 3, 191","Zed, MIDDLE, 7, 9, 2, 178","Kaisa, BOTTOM, 2, 10, 6, 213","Lux, UTILITY, 7, 13, 5, 36","0, 0, 0, 3",False
19,KR_5415001517,11.17.393.607,3,"Fiora, TOP, 16, 7, 8, 164","Diana, JUNGLE, 12, 2, 10, 210","Lux, MIDDLE, 10, 1, 20, 158","Samira, BOTTOM, 6, 8, 9, 152","Brand, UTILITY, 7, 9, 15, 42","1, 3, 2, 11",True,"Malphite, TOP, 3, 13, 9, 108","Ryze, MIDDLE, 2, 6, 4, 197","Amumu, JUNGLE, 6, 11, 7, 93","Jinx, BOTTOM, 11, 11, 12, 195","JarvanIV, UTILITY, 5, 10, 17, 52","0, 1, 0, 0",False
20,KR_5415865198,11.17.393.607,5,"Fiora, TOP, 1, 4, 0, 134","LeeSin, JUNGLE, 2, 5, 1, 97","Graves, MIDDLE, 4, 3, 2, 163","Ashe, BOTTOM, 1, 7, 2, 64","Lux, UTILITY, 1, 6, 5, 50","0, 1, 0, 0",False,"Gnar, TOP, 4, 1, 3, 130","Kindred, JUNGLE, 8, 3, 4, 120","Renekton, MIDDLE, 4, 2, 3, 117","Kaisa, BOTTOM, 8, 1, 3, 165","Thresh, UTILITY, 1, 2, 14, 28","0, 1, 2, 6",True
21,KR_5415917769,11.17.393.607,5,"Lillia, TOP, 0, 5, 3, 152","LeeSin, JUNGLE, 1, 3, 3, 68","Akshan, MIDDLE, 2, 8, 1, 118","Aphelios, BOTTOM, 4, 7, 4, 162","Lux, UTILITY, 4, 6, 4, 72","0, 0, 0, 0",False,"TahmKench, TOP, 4, 1, 7, 130","Diana, JUNGLE, 9, 1, 6, 164","Yasuo, MIDDLE, 6, 4, 3, 178","Caitlyn, BOTTOM, 5, 2, 8, 169","Poppy, UTILITY, 5, 3, 10, 53","0, 3, 2, 11",True
22,KR_5416631865,11.17.393.607,3,"Fiora, TOP, 10, 6, 8, 109","Sejuani, JUNGLE, 1, 2, 12, 113","Lux, MIDDLE, 8, 2, 5, 155","Twitch, BOTTOM, 12, 2, 4, 126","Blitzcrank, UTILITY, 1, 5, 9, 24","0, 2, 1, 10",True,"Irelia, TOP, 3, 9, 3, 149","MasterYi, JUNGLE, 10, 6, 0, 87","TwistedFate, MIDDLE, 2, 5, 3, 78","Lucian, BOTTOM, 2, 7, 2, 134","Pyke, UTILITY, 0, 5, 5, 30","0, 1, 0, 0",False
23,KR_5417776498,11.17.393.607,1,"Gwen, TOP, 6, 8, 15, 185","JarvanIV, JUNGLE, 3, 9, 31, 175","Annie, MIDDLE, 12, 12, 19, 235","Pyke, UTILITY, 3, 10, 19, 63","Vayne, BOTTOM, 21, 9, 6, 309","0, 2, 0, 7",True,"Sylas, TOP, 6, 10, 9, 175","Nunu, JUNGLE, 6, 6, 18, 188","Irelia, MIDDLE, 15, 14, 4, 275","Ezreal, BOTTOM, 14, 9, 15, 256","Karma, UTILITY, 7, 6, 26, 58","2, 4, 2, 7",False

In [57]:
def dataset_for_me_v2(champion, lane=None, tier=None):

    tier_df = df
    
    tier = tier_df['player_lane']
    team1_df = tier_df.iloc[:, 3:10]
    team1_df = pd.concat([tier, team1_df], axis=1)
    team2_df = tier_df.iloc[:, 10:17]
    team2_df = pd.concat([tier, team2_df], axis=1)


    team2_df.rename(columns={
            "rank": "rank",
            "player_6": "player_1",
            "player_7": "player_2",
            "player_8": "player_3",
            "player_9": "player_4",
            "player_10": "player_5",
            "bdht_2": "bdht_1",
            "win_2": "win_1"
    }, inplace=True)


    fn_df = pd.concat([team1_df, team2_df], axis=0, ignore_index=True)

    dataset = pd.DataFrame(columns=[
            'rank', 'lane', 'kills', 'deaths', 'assists', 'cs', 'barons', 'dragons', 'heralds', 'towers', 'total_kills', 'total_deaths', 'win'
        ])

    for i in range(len(fn_df)):
        tier = fn_df.iloc[i, 0]
        team_df = fn_df.iloc[i, 6].split(',')
        team_total_kills = 0
        team_total_deaths = 0

        for k in range(5):
            champ_df = fn_df.iloc[i, k+1].split(',')
            team_total_kills += int(champ_df[2])
            team_total_deaths += int(champ_df[3])

        for j in range(5):
            champ_df = fn_df.iloc[i, j+1].split(',')

            if champ_df[0] == champion:
                if lane == None:
                    position = champ_df[1].strip()      # str
                else:
                    if lane == champ_df[1].strip():
                        position = champ_df[1].strip()      # str
                    else:
                        continue
                kills = champ_df[2]         # int
                deaths = champ_df[3]        # int
                assists = champ_df[4]       # int
                cs = champ_df[5]            # int
                barons = team_df[0]         # int
                dragons = team_df[1]        # int
                heralds = team_df[2]        # int
                towers = team_df[3]         # int
                win = fn_df.iloc[i, 7]      # bool

                dataset.loc[len(dataset)] = [tier, position, kills, deaths, assists, cs, barons, dragons, heralds, towers, team_total_kills, team_total_deaths, win]
    
    return dataset

dataset_for_me_v2("Lux")
# tier = 단일 / [n1, n2, ...]
# lane = None / 지정(단일)

,rank,lane,kills,deaths,assists,cs,barons,dragons,heralds,towers,total_kills,total_deaths,win
0,5,UTILITY,3,1,5,41,0,0,0,1,17,27,False
1,5,UTILITY,4,4,2,50,1,0,1,4,11,37,False
2,5,UTILITY,14,3,13,117,0,4,1,6,49,53,False
3,3,UTILITY,4,15,11,42,0,0,0,0,31,56,False
4,5,UTILITY,0,6,3,27,0,0,0,2,13,33,False
5,3,MIDDLE,10,1,20,158,1,3,2,11,51,27,True
6,5,UTILITY,1,6,5,50,0,1,0,0,9,25,False
7,5,UTILITY,4,6,4,72,0,0,0,0,11,29,False
8,3,MIDDLE,8,2,5,155,0,2,1,10,32,17,True
9,10,UTILITY,0,5,3,36,0,1,0,1,12,24,False
10,8,MIDDLE,1,4,1,173,0,0,1,1,9,24,False
11,8,MIDDLE,1,2,0,112,0,0,0,0,3,21,False
12,8,MIDDLE,7,5,4,192,0,2,0,2,19,32,False
13,8,MIDDLE,2,5,1,104,0,1,0,0,4,21,False
14,10,UTILITY,7,6,9,63,0,2,0,3,33,42,False
15,8,MIDDLE,6,5,4,214,0,1,1,3,22,38,False
16,10,UTILITY,9,2,8,19,1,4,1,8,41,19,True
17,8,MIDDLE,6,0,4,144,0,1,2,11,31,7,True
18,3,UTILITY,7,13,5,36,0,0,0,3,24,53,False

In [58]:
def dataset_for_me_v1(champion, lane=None, tier=None):

    tier_df = df
    
    tier = tier_df['player_lane']
    team1_df = tier_df.iloc[:, 3:10]
    team1_df = pd.concat([tier, team1_df], axis=1)
    team2_df = tier_df.iloc[:, 10:17]
    team2_df = pd.concat([tier, team2_df], axis=1)


    team2_df.rename(columns={
            "rank": "rank",
            "player_6": "player_1",
            "player_7": "player_2",
            "player_8": "player_3",
            "player_9": "player_4",
            "player_10": "player_5",
            "bdht_2": "bdht_1",
            "win_2": "win_1"
    }, inplace=True)


    fn_df = pd.concat([team1_df, team2_df], axis=0, ignore_index=True)

    dataset = pd.DataFrame(columns=[
            'rank', 'lane', 'kills', 'deaths', 'assists', 'cs', 'barons', 'dragons', 'heralds', 'towers', 'win'
        ])

    for i in range(len(fn_df)):
        tier = fn_df.iloc[i, 0]
        team_df = fn_df.iloc[i, 6].split(',')
        team_total_kills = 0
        team_total_deaths = 0

        for j in range(5):
            champ_df = fn_df.iloc[i, j+1].split(',')

            if champ_df[0] == champion:
                if lane == None:
                    position = champ_df[1].strip()      # str
                else:
                    if lane == champ_df[1].strip():
                        position = champ_df[1].strip()      # str
                    else:
                        continue
                kills = champ_df[2]         # int
                deaths = champ_df[3]        # int
                assists = champ_df[4]       # int
                cs = champ_df[5]            # int
                barons = team_df[0]         # int
                dragons = team_df[1]        # int
                heralds = team_df[2]        # int
                towers = team_df[3]         # int
                win = fn_df.iloc[i, 7]      # bool

                dataset.loc[len(dataset)] = [tier, position, kills, deaths, assists, cs, barons, dragons, heralds, towers, win]
    
    return dataset

dataset_for_me_v1("Lux")
# tier = 단일 / [n1, n2, ...]
# lane = None / 지정(단일)

,rank,lane,kills,deaths,assists,cs,barons,dragons,heralds,towers,win
0,5,UTILITY,3,1,5,41,0,0,0,1,False
1,5,UTILITY,4,4,2,50,1,0,1,4,False
2,5,UTILITY,14,3,13,117,0,4,1,6,False
3,3,UTILITY,4,15,11,42,0,0,0,0,False
4,5,UTILITY,0,6,3,27,0,0,0,2,False
5,3,MIDDLE,10,1,20,158,1,3,2,11,True
6,5,UTILITY,1,6,5,50,0,1,0,0,False
7,5,UTILITY,4,6,4,72,0,0,0,0,False
8,3,MIDDLE,8,2,5,155,0,2,1,10,True
9,10,UTILITY,0,5,3,36,0,1,0,1,False
10,8,MIDDLE,1,4,1,173,0,0,1,1,False
11,8,MIDDLE,1,2,0,112,0,0,0,0,False
12,8,MIDDLE,7,5,4,192,0,2,0,2,False
13,8,MIDDLE,2,5,1,104,0,1,0,0,False
14,10,UTILITY,7,6,9,63,0,2,0,3,False
15,8,MIDDLE,6,5,4,214,0,1,1,3,False
16,10,UTILITY,9,2,8,19,1,4,1,8,True
17,8,MIDDLE,6,0,4,144,0,1,2,11,True
18,3,UTILITY,7,13,5,36,0,0,0,3,False

In [59]:
xy = dataset_for_me_v1("Lux", lane="MIDDLE")

x = xy.iloc[:, 2:-1]
y = xy.iloc[:, [-1]]

lrg_clf.predict(x)

ValueError: X has 8 features per sample; expecting 10

In [53]:
winrates = lrg_clf.predict_proba(x)
win = 0
for winrate in winrates:
    if winrate[1] > 0.5:
        print("[WIN] {:.2f}%".format(winrate[1]*100))
        win += 1
    else:
        print("[LOSE] {:.2f}%".format(winrate[1]*100))
print(f"Result: {win}/{len(winrates)} games win!")
print("Total winrate: {:.2f}%".format(win/len(winrates)*100))

[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[LOSE] 0.00%
[WIN] 73.62%
[LOSE] 0.00%
[LOSE] 0.00%
Result: 1/19 games win!
Total winrate: 5.26%

In [54]:
y.columns = ['result']
y_pred = pd.DataFrame(lrg_clf.predict(x), columns=['prediction'])
y_proba = [elem[1] for elem in winrates]
y_proba = pd.DataFrame(y_proba, columns=['proba'])
isright = [(y.iloc[i,0] == y_pred.iloc[i,0]) for i in range(len(y))]
isright = pd.DataFrame(isright, columns=['right'])
mcdf = pd.concat([y, y_pred, y_proba, isright], axis=1)

right = mcdf['right'].value_counts()
print(f'Right: {right[1]}/{len(mcdf)}')

mcdf
# correct = 0
# for i in range(len(y)):
#     iscorrect = (lrg_clf.predict(x)[i] == y.iloc[i, 0])
#     if iscorrect:
#         correct += 1
# print(f"{correct/len(y)}")

Right: 16/19

   result  prediction          proba  right
0   False       False   1.185150e-91   True
1   False       False  2.591669e-132   True
2   False       False  8.921517e-180   True
3   False       False  2.811421e-172   True
4   False       False  2.502226e-105   True
5    True       False  3.545929e-127  False
6   False       False  1.740757e-110   True
7   False       False  2.789694e-140   True
8    True       False  1.443343e-130  False
9   False       False   1.495287e-89   True
10  False       False  3.632096e-220   True
11  False       False  1.307852e-162   True
12  False       False  5.001238e-243   True
13  False       False  1.675377e-155   True
14  False       False  2.023886e-132   True
15  False       False  6.705843e-276   True
16   True        True   7.361677e-01   True
17   True       False   7.880337e-91  False
18  False       False  1.095150e-159   True

생각보다 잘 맞추는데... 18건 중 4건은 예측실패다. 왜 그럴까? \
50%에 가까운 승률이면 접전이여서 틀릴 수도 있지만, 거의 이겼다(>.80)고 판단한 2건은 그냥 넘어가기 어렵다고 생각한다. \
왜 그런지에 대한 추측을 달아본다.

> 1. 모델이 적합하지 않다. \
ㄴ 이건 아닌 것 같다...
> 2. 주어진 피쳐가 모자라다. 가령, 1 & 2팀의 전체성적같은 것도 필요로 하는 것 같다. 나 말고 다른 팀이 말아먹어놨을 수 있으니... \
ㄴ 실제로 데이터를 조사해보니... 다른 팀원이 심각하게 던져놨다. 상대도 개차반이지만... 팀 전체 킬수를 피쳐로 도입해보자.
> 3. 정말 우연의 일치로 틀렸다. 다 이긴 판인데도 넥서스백도 같은 것을 당해 졌거나... 등등 \
ㄴ 그러지 않았다. 이런 경우는 200판에 1~3판 정도 밖에 안된다고 생각한다. 이번 데이터에서도 없었다.

* v2로 total_kd를 도입했는데 더욱 안좋다.
* train set을 현 티어인 silver=ii에 맞추니 예측률이 더 올랐다. v1버전으로 티어에 맞춰서 사용해보자.
* v1에서는 전 티어에서 보아야 예측률이 더 높다. v2에서는 티어에 맞추어야 예측률이 더 높다.